body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

body > div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body > div > header {
  flex: 0 0 75px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: blanchedalmond;
}

header h1 {
  text-align: center;
  padding: 0;
  text-transform: uppercase;
  margin: 0;
}

main {
  display: flex;
  max-height: calc(100% - 75px);
  flex: 1;
}

main > section {
  padding-top: 24px;
  flex: 1;
  overflow-y: hidden;
}

#content_wrapper {
  height: 100%;
  overflow-y: scroll;
}

#content_wrapper section {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 64px;
}

main > nav {
  text-align: center;
  margin: 0;
  flex: 0 1 375px;
  display: flex;
  flex-direction: column;
  background-color: #456;
}

main > nav footer {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column-gap: 25%;
}

main > nav ul {
  margin: 0;
  padding-left: 0;
  flex: 1;
}

main > nav li {
  width: 100%;
  list-style: none;
  border-radius: 4px;
  color: #456;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  background-color: #fff;
}

main > nav li:last-child {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

li.active {
  background-color: oldlace;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2) inset;
}

li button {
  background-color: transparent;
  border: none;
  width: 100%;
  height: inherit;
  padding: 4px 0;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

button[onclick] {
  cursor: pointer;
}

button[disabled], button:disabled {
  cursor: not-allowed;
  color: darkgray;
}

#count_container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-lg {
  border-radius: 2px;
  padding: 24px 72px;
  font-size: 36px;
  font-weight: bold;
  border: 1px solid blanchedalmond;
}

.btn-lg:active {
  box-shadow: 5px 5px 50px rgba(0,0,0,0.2) inset,
    -5px -5px 50px rgba(0,0,0,0.2) inset;
}

#increment {
  background-color: rgba(10,175,10,0.75);
  color: blanchedalmond;
  max-width: 50%;
  margin: 0 auto;
}

#decrement {
  background-color: rgba(175,10,10,0.75);
  color: blanchedalmond;
  max-width: 50%;
  margin: 0 auto;
}

#show-hide {
  background-color: darksalmon;
  color: ghostwhite;
  font-family: inherit;
}

.inputgroup {
  display: flex;
  flex-direction: column;
  grid-row-gap: 8px;
  width: 400px;
}

.btngroup {
  padding: 10px;
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.source_tabs_container {
  width: 100%;
  text-align: center;
  margin-bottom: 24px;
}

.source_tabs_container hr {
  margin-top: 0;
  border-bottom: none;
  border-color: rgba(0,0,0,0.1);
  border-width: 2px;
}

.source_tabs {
  display: inline-flex;
  padding-left: 0;
  justify-content: space-around;
  text-align: center;
  width: 90%;
  margin: 0;
}

.source_tabs li {
  list-style: none;
  flex: 1;
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 8px 0;
  cursor: pointer;
}

.source_tabs li:first-child {
  border-left: 1px solid rgba(0,0,0,0.1);
  border-radius: 8px 0 0 0;
}

.source_tabs li:last-child {
  border-right: 1px solid rgba(0,0,0,0.1);
  border-radius: 0 8px 0 0;
}

pre {
  background-color: #456;
  padding: 24px;
  border-radius: 3px;
  overflow: scroll;
}

pre span {
  background-color: transparent !important;
}

#autocomplete {
  width: 100%;
  text-align: center;
}

#autocomplete pre {
  text-align: left;
}

#autocomplete #selected_code_wrapper {
  display: flex;
  justify-content: space-around;
}

code {
  font-size: 1.3em;
  background-color: blanchedalmond;
  color: darkred;
  padding: 2px 4px;
  font-style: italic;
}

#syntax_highlighting_code_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#intro {
  padding-bottom: 48px;
}

#intro p {
  margin-bottom: 32px;
  font-size: 1.1rem;
}

blockquote {
  border-left: 4px solid rgba(200,200,200, 0.5);
  margin-bottom: 32px;
  color: rgba(100,100,100);
  padding-left: 24px;
  margin-left: 0;
}

